.başlıklar {
    color:black;
	
}
body{
    background-color:white;

}
.metinler{

color:black;
background-color:lightgrey;
}
.linkler{
       color: black;
    target ="_blank";
}
h2{
    text-align: center;
}

h1{
    text-align: center;
}